In [1]:
import pandas as pd
import os

In [8]:
folder_path = '../../data/interim/'

investors_path = os.path.join(folder_path, 'investors.csv')
deals_path = os.path.join(folder_path, 'deals.csv')
firms_path = os.path.join(folder_path, 'firms.csv')

investors = pd.read_csv(investors_path,index_col = 0)
deals = pd.read_csv(deals_path,index_col = 0)
firms = pd.read_csv(firms_path,index_col = 0)

In [5]:
firms.head(2)

,firm_id,firm_name,codex_category,country,city,year_founded,market,problem_1,problem_2,problem_3,analytics,ai,point_integrated,company_url,other_link,comments
0,FIRM0002,LexisNexis,Legal Research,USA,New York,1973,Corporate,Legal Research,Other Practice Tech,NONE,1,0,Integrated Solution,https://www.lexisnexis.com/en-us/gateway.page,NaN,LexisNexis started out as a legal research com...
1,FIRM0003,Korbitec,Legal Document Automation,South Africa,Cape Town,1976,Corporate,Contracts,Other Practice Tech,NONE,1,0,Integrated Solution,https://www.lexisnexis.co.za/,https://www.linkedin.com/company/korbitec/?ori...,Korbitec was acquired by LexisNexis.

In [6]:
deals.head(2)

,deal_ id,deal_date,deal_year,firm_name,firm_id,round_total,deal_type,country,city,year_founded,codex_category,firm_age
0,DEAL0001,2000-03-22,2000,LexisNexis,FIRM0002,30000000.0,Venture Capital,USA,New York,1973,Legal Research,27
1,DEAL0002,2002-10-03,2002,Workshare,FIRM0027,4500000.0,Series A,UK,London,1999,Legal Analytics,3

In [9]:
investors.head(2)

,deal_id,deal_date,deal year,firm_name,firm_id,round_total_raw,round_total,num_investors,avg_invest_per_investor,investor_name,deal_type,country,city,year_founded,codex_category
0,DEAL0001,2000-03-22,2000,LexisNexis,FIRM0002,30000000,30000000.0,5,6000000.0,Actua Corporation,Venture Capital,USA,New York,1973,Legal Research
1,DEAL0001,2000-03-22,2000,LexisNexis,FIRM0002,above,30000000.0,5,6000000.0,Commerce One,Venture Capital,USA,New York,1973,Legal Research